.wrapper {
max-width: 100%;
margin: o auto;
}

img{
  width:100%;
}

.header {
width: 100%
}

.menu {
width:100%;
float: left;
background: #333;
}

.menu ul{
  margin:0; padding:0; list-style:0; text-align:center;
}

.menu ul li{
  display:inline-block; margin: 1% 1%;
  color: #e6e6e6;
}

.content {
width: 100%;
float: left;
}

.content img {
  margin:0;
  border:0;
  padding:0;
  height: auto;
  width: 25%;
  float: left;
}

.footer {
 background-color: black !important;
}

.footer ul {
  list-style-type: none;
}

.part {
  float: left;
  width: 20%; 
  height: auto;
  font-size: 12px;
}

@media screen and (max-width: 1068px) {
  .content img {
    width: 50%;
  }
}

@media screen and (max-width: 735px) {
  .content img {
    width: 100%;
  }
  
  .part {
    width: 50%;
    height: auto;
  }
}
  
  
/******
header,
nav,
section {
  border: 1px solid rgba(255,255,255,0.8);
  margin-bottom: 10px;
  border-radius: 3px;
}*/
