
.wrapper {
max-width: 100%;
margin: o auto;
}

img{
  width:100%;
}

.header {
width: 100%
}

.menu {
width:100%;
float: left;
background: #333;
}

.menu ul{
  margin:0; padding:0; list-style:0; text-align:center;
}

.menu ul li{
  display:inline-block; margin: 1% 1%;
}

.content {
width: 100%;
float: left;
}
.content img {
  height: auto;
  width: 25%;
  float: left;
}


/******
header,
nav,
section {
  border: 1px solid rgba(255,255,255,0.8);
  margin-bottom: 10px;
  border-radius: 3px;
}*/

